/* content tag*/
body
{    
     background-color:#00CFCD;
     font-family: 'Merriweather', serif;
     line-height: 20px;
     margin:0;
     text-align:center;
}
     
h1
{ color: #FFFFFF;
  font-family: 'Sacramento', cursive;}
h2{color:#b34d4d;}
h3{color:#6666ff;}
p{font-family: 'Montserrat', sans-serif;font-weight:bold;width:100%;}
hr{border:dotted; border-bottom:none;border-color:grey;width:4%;}
a{
  margin: 5px 10px;
  color:#b34d4d;
  text-decoration:none;
}
a:hover{
  color:#EAF6F6;
}
/*class*/
.middle{
  background-color: #FFFAFA;
  margin-right: 0;
  width:100%;
  padding: 10px;
  
}
.bottom{
  padding-top: 10px;
}
/*image formatting*/
.topcloud{ width:50px;
			position:absolute;
			left:250px;
			top:30px;
			}
.bottomcloud{width:100px;
			position:absolute;
			left:40px;
			top:50px;
}
.mountain{
		width:400px;
  hieght:400px;
  position:relative;
   top:4px;}
.avatar{position: relative;
          top:20px;
          width:80px;}
.games{width:25%;float: right; margin-left:5px;}
.Computer{width:25%; float: left;margin-right:5px;}
/*container formatting*/
.skill{
        width: 90%;
  margin: 0 20px 0 20px;
  text-align: left;
}
.intro{
  width:50%;
  margin: 0 auto 0;
  padding-bottom: 5%;
}
.contact me { 
  margin: 0 auto 0;
}
.btn {
  background: #b34d4d;
  background-image: -webkit-linear-gradient(top, #b34d4d, #2980b9);
  background-image: -moz-linear-gradient(top, #b34d4d, #2980b9);
  background-image: -ms-linear-gradient(top, #b34d4d, #2980b9);
  background-image: -o-linear-gradient(top, #b34d4d, #2980b9);
  background-image: linear-gradient(to bottom, #b34d4d, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  padding: 5px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copyright{
  font-size:1px;
  color:#Ffffff;
}
